* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,body {
    background: linear-gradient(to right, #ff966d, #fa538d, #89379d);
    background-size: cover; /* Ensure the gradient fills the container */
    background-position: center;
    backdrop-filter: blur(30px);
  }